{% extends "base.html" %}

{% block mainHead %} 
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
{% endblock %}

{% block mainBody %}

<div class="row">
  <div class="col s12 m3">
    {% if safe %}
      <div class="card green darken-1">
      <div class="card-content white-text">
        <span><strong>Astronaut is healthy</strong></span>
        <hr>
    {% else %}
      <div class="card red darken-1">
      <div class="card-content white-text">
        <span><strong>Astronaut is not healthy!</strong></span>
        <br>
        <span><strong>Anomaly Detected</strong></span>
        <hr>
    {% endif %}

        <span>Username: {{ username }}
        <br>
        <span>RecordID: {{ recordID }}</span>
        </div>
      </div>
    </div>
  </div>
</div>      
{% endblock %}