{% extends "base.html" %}

{% block mainHead %} 
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <!-- Plotly.js -->
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
{% endblock %}

{% block mainBody %}
  {% for id in ids %}
  <div class="row">
     <div class="col s12 m12">
        <div id="{{ id }}"></div>
     </div>
  </div>    
  {% endfor %}         

  <script>
    var graphs = {{graphJSON | safe}};
    var ids = {{ids | safe}};
    for(var i in graphs) {
        Plotly.plot(ids[i], graphs[i].data,
          graphs[i].layout || {});
    }
  </script>
{% endblock %}