<?xml version='1.0'?>

<database>
    <name>trevor_gazebo</name>
    <license>file://eras_home/LICENSE</license>
    <models>
        <uri>model://chain_link</uri>
        <uri>model://chassis</uri>
        <uri>model://gripper</uri>
        <uri>model://imu_mount</uri>
        <uri>model://trevor</uri>
        <uri>model://track_drive</uri>
        <uri>model://ultrasonic</uri>
        <uri>model://wheel</uri>
    </models>
</database>

