<?xml version="1.0"?>

<model>
    <name>chain_link</name>
    <version>1.0</version>
    <sdf version='1.4'>chain_link.sdf</sdf>

    <author>
       <name>Kunal Tyagi</name>
       <email>kunaltyagi.gsoc@gmail.com</email>
    </author>

    <description>
        Sub model for track drive, plans to make the links complicated, like actual links
    </description>
</model>
