<!DOCTYPE html>
<html>

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{{title}}</title>

    {{> head}}

    <!-- Core CSS - Include with every page -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/font-awesome/css/font-awesome.css" rel="stylesheet">

    <! -- NProgress Bar -->
    <link href="/css/nprogress.css" rel="stylesheet">

</head>

<body>

    <div id="wrapper">

        {{> navbar}}

        <div id="page-wrapper">
        {{partial body}}
        </div>
        <!-- /#wrapper -->

        <!-- Core Scripts - Include with every page -->
        <script src="/js/bootstrap.min.js"></script>
        <script src="/js/plugins/metisMenu/jquery.metisMenu.js"></script>

        <!-- Page-Level Plugin Scripts - Dashboard -->
        <script src="/js/plugins/morris/raphael-2.1.0.min.js"></script>
        <script src="/js/plugins/morris/morris.js"></script>

        <!-- SB Admin Scripts - Include with every page -->
        <script src="/js/sb-admin.js"></script>

        <!-- Page-Level Demo Scripts - Dashboard - Use for reference -->
        <script src="/js/demo/dashboard-demo.js"></script>

         <script src="/js/nprogress.js"></script>
        <script type="text/javascript">
        NProgress.start();
        setTimeout(function() { NProgress.done(); $('.fade').removeClass('out'); }, 1000);
        </script>
    </body>

    </html>
