backports.shutil-get-terminal-size==1.0.0
backports-abc==0.4
boost-python==1.59
certifi==2016.2.28
comtypes==1.1.2
Cython==0.24
decorator==4.0.10
fonttools==2.3
ipython==4.2.1
ipython-genutils==0.1.0
matplotlib==1.3.0
numpy==1.11.1
pathlib2==2.1.0
pgu==0.18
pickleshare==0.7.2
Pillow==3.3.0
Polygon2==2.0.6
PyAutoGUI==0.9.33
pygame==1.9.2a0
pykinect2==0.1.0
PyKinectTk==0.1
PyMsgBox==1.0.3
pyparsing==2.1.5
PyScreeze==0.1.8
PyTango==8.1.6
python-dateutil==2.5.3
PyTweening==1.0.3
simplegeneric==0.8.1
simplejson==3.8.2
singledispatch==3.4.0.3
six==1.10.0
tornado==4.4
traitlets==4.2.2
virtualenv==12.1.1
